app-config/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
./app-config/i3/currmode
./app-config/global_scripts/currtheme
app-config/global_scripts/currtheme
app-config/i3/currmode
/etc/nixos/app-config/pics
app-config/Element
app-config/GIMP/2.10
app-config/Insomnia
app-config/JetBrains
app-config/Postman
app-config/QDirStat
app-config/Thunar
app-config/autostart
app-config/blender/3.3/config
app-config/bpytop
app-config/btop
app-config/cef_user_data/WidevineCdm
app-config/chromium
app-config/coreapps/coreapps.conf
app-config/deepin/deepin-camera
app-config/deluge
app-config/environment.d
app-config/dconf
app-config/environment.d
app-config/evolution/sources
app-config/fish/config.fish
app-config/fontconfig/conf.d
app-config/fish
app-config/fontconfig
app-config/git
app-config/global_scripts
app-config/gpick
app-config/gthumb
app-config/gtk-2.0
app-config/gtk-3.0
app-config/gtk-4.0
app-config/htop/htoprc
app-config/kdeconnect
app-config/lazygit
app-config/.gsd-keyboard.settings-ported
app-config/QtProject.conf
app-config/gnome-initial-setup-done
app-config/hyfetch.json
app-config/kdeglobals
app-config/konsolerc
app-config/konsolesshconfig
app-config/kritadisplayrc
app-config/kritarc
app-config/libreoffice/
app-config/mimeapps.list
app-config/monitors.xml~
app-config/neofetch/
app-config/netsurf/
app-config/nheko/
app-config/obs-studio/
app-config/onlyoffice/
app-config/pavucontrol.ini
app-config/picom.conf
app-config/pulse/
app-config/qt5ct/
app-config/rofi/
app-config/safeeyes/
app-config/syncthing/
app-config/systemd/
app-config/user-dirs.dirs
app-config/user-dirs.locale
app-config/vlc/
app-config/ghc
app-config/Flavio Tordini
app-config/Pinta
app-config/vis/vis.log
app-config/youtube-tui
app-config/youtube-viewer
app-config/nomic.ai
app-config/cabal
app-config/cava
app-config/xfce4/xfce4-screenshooter
app-config/ILSpy.xml
app-config/FreeTube/Cache/Cache_Data
app-config/FreeTube/Code Cache
app-config/FreeTube/Crashpad
app-config/FreeTube/DawnCache
app-config/FreeTube/Dictionaries
app-config/FreeTube/GPUCache
app-config/FreeTube/Local Storage/leveldb
app-config/FreeTube/Session Storage
app-config/FreeTube
app-config/whatsapp-for-linux
app-config/Electron/Crashpad/client_id
app-config/fltk.org
app-config/freerdp/shadow
app-config/kde.org
app-config/freerdp
app-config/remmina
app-config/heaptrack_gui
app-config/katemetainfos
app-config/katerc
app-config/katevirc
app-config/krdcrc
app-config/xchm.conf
