<settings>
  <setting name="dock-layers-minimized" type="System.Boolean">False</setting>
  <setting name="dock-history-minimized" type="System.Boolean">False</setting>
  <setting name="window-size-width" type="System.Int32">1440</setting>
  <setting name="window-size-height" type="System.Int32">879</setting>
  <setting name="ruler-metric" type="System.Int32">0</setting>
  <setting name="window-maximized" type="System.Boolean">False</setting>
  <setting name="ruler-shown" type="System.Boolean">False</setting>
  <setting name="image-tabs-shown" type="System.Boolean">True</setting>
  <setting name="toolbar-shown" type="System.Boolean">True</setting>
  <setting name="statusbar-shown" type="System.Boolean">True</setting>
  <setting name="toolbox-shown" type="System.Boolean">True</setting>
  <setting name="pixel-grid-shown" type="System.Boolean">False</setting>
  <setting name="last-dialog-directory" type="System.String">file:///home/goose/Pictures</setting>
  <setting name="last-selected-tool" type="System.String">MoveSelectedTool</setting>
  <setting name="primary-color" type="System.String">FFFF006E</setting>
  <setting name="secondary-color" type="System.String">FFFAFAFA</setting>
  <setting name="recently-used-colors" type="System.String">FFFAFAFA,FFFF006E,FFFF0000,FF0094FF,FFFFD800,FFFF006E,FF4CFF00,FFFF006E,FF0026FF,FFB6FF00</setting>
  <setting name="paintbrushtool-antialias" type="System.Int32">0</setting>
  <setting name="paintbrushtool-brush-width" type="System.Int32">4</setting>
  <setting name="paint-brush-brush" type="System.Int32">0</setting>
  <setting name="color-picker-sample-size" type="System.Int32">0</setting>
  <setting name="jpg-quality" type="System.Int32">85</setting>
  <setting name="default-image-type" type="System.String">png</setting>
  <setting name="penciltool-alpha-blend" type="System.Int32">0</setting>
  <setting name="text-font" type="System.String">Sans Bold 16</setting>
  <setting name="text-bold" type="System.Boolean">False</setting>
  <setting name="text-italic" type="System.Boolean">False</setting>
  <setting name="text-underline" type="System.Boolean">False</setting>
  <setting name="text-alignment" type="System.Int32">2</setting>
  <setting name="text-style" type="System.Int32">0</setting>
  <setting name="text-outline-width" type="System.Int32">2</setting>
  <setting name="selection-combine-mode" type="System.Int32">0</setting>
  <setting name="magicwandtool-fill-mode" type="System.Int32">0</setting>
  <setting name="magicwandtool-fill-tolerance" type="System.Int32">0</setting>
  <setting name="linecurvetool-antialias" type="System.Int32">0</setting>
  <setting name="linecurvetool-brush-width" type="System.Int32">8</setting>
  <setting name="linecurvetool-fill-style" type="System.Int32">0</setting>
  <setting name="linecurvetool-shape-type" type="System.Int32">0</setting>
  <setting name="linecurvetool-dash-pattern" type="System.String">-</setting>
  <setting name="linecurvetool-arrow1" type="System.Boolean">False</setting>
  <setting name="linecurvetool-arrow2" type="System.Boolean">False</setting>
  <setting name="linecurvetool-arrow-size" type="System.Int32">10</setting>
  <setting name="linecurvetool-arrow-angle" type="System.Int32">2</setting>
  <setting name="linecurvetool-arrow-length" type="System.Int32">10</setting>
  <setting name="ellipsetool-antialias" type="System.Int32">0</setting>
  <setting name="ellipsetool-brush-width" type="System.Int32">11</setting>
  <setting name="ellipsetool-fill-style" type="System.Int32">0</setting>
  <setting name="ellipsetool-shape-type" type="System.Int32">2</setting>
  <setting name="ellipsetool-dash-pattern" type="System.String">-</setting>
  <setting name="paintbuckettool-fill-mode" type="System.Int32">0</setting>
  <setting name="paintbuckettool-fill-tolerance" type="System.Int32">0</setting>
  <setting name="color-picker-tool-selection" type="System.Int32">0</setting>
  <setting name="color-picker-sample-type" type="System.Int32">0</setting>
  <setting name="erasertool-antialias" type="System.Int32">0</setting>
  <setting name="erasertool-brush-width" type="System.Int32">2</setting>
  <setting name="eraser-erase-type" type="System.Int32">0</setting>
</settings>