/*
!.gitignore
!.omnisharp
!README.md
!global_scripts
!i3*
!latex.gif
!lazygit
!libinput-gestures.conf
!monitors.xml
!nvim
!pics
!scripts
!starship.toml
!terminator
!xfce4
!zathura
/scripts/currtz
lazygit/state.yml
